:root {
  --font: "Poppins", sans-serif;
}
html,
body,
.app, 
#root {
  height: 100%;
  width: 100%;
  font-family: var(--font);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
